.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  grid-area: title;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 460px;
}

@media screen and (max-width: 1439px) {
  .place__title {
    max-width: 460px;
  }
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title{
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding-bottom: 32px;
  }
}
