.page {
  background-color: #2A2C2F;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 48px 24px;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 1439px) {
    .page {
      max-width: 1439px;
      min-width: 1280px;
      padding: 28px 48px 24px;
    }
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 1279px;
    min-width: 1024px;
    padding: 28px 48px 24px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 1023px;
    min-width: 768px;
    padding: 28px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 767px;
    min-width: 320px;
    padding: 16px 16px 24px;
  }
}
