.places {
  padding: 0px 100px 0px;
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 92px 100px 92px 100px;
    margin-left: auto;
    margin-right: auto;
    width: 984px;
  }
}

@media screen and (max-width: 1279px) {
  .places{
    padding: 92px 0px;
  }
}

@media screen and (max-width: 1023px) {
  .places{
    padding: 88px 0px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px 0px;
  }
}
