@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/_selected/header__lang-link_selected.css);
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
  }
}
