.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 16px;
}

.footer__link:hover {
  opacity: 0.8;
  transition: 0.3s linear;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-right: 0px;
    margin-bottom: 32px;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
  }
}

