.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 484px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 24px;
}

.place__paragraph:last-child {
  padding-bottom: 0px;
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 100%;
  }
}
