.lead__caption {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  margin-top: 8px;
  margin-bottom: 0px;
  max-width: 159px;
}


