.lead__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
  margin: 0px auto 64px;
  padding: 0px 172px 0px 172px;
}
