@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__content/cover__content.css);
.cover {
  padding-top: 92px;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
  }
}


@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 88px
  }
}


@media screen and (max-width: 767px) {
  .covert {
    padding-top: 64px;
  }
}
