.cover__overlay {
  background: #2A2C2F;
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 19.5% 0;
}

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
  transition: 0.3s linear;
}
