@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__description/place__description.css);

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "title website"
  "image description";
  grid-gap: 48px 40px;
  padding-top: 92px;
}

@media screen and (max-width: 1439px) {
  .place {
    padding-top: 80px;
    grid-gap: 48px 40px;

  }
}

@media screen and (max-width: 1279px) {
  .place {
    padding-top: 80px;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-top: 72px;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
}
