.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .cover__content {
    padding: 20.9% 0;
  }
}

@media screen and (max-width: 1279px) {
  .cover__content {
    padding: 19.15% 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__content {
    padding: 15.1% 0;
  }
}


@media screen and (max-width: 767px) {
  .cover__content {
    padding: 8% 0;
  }
}
